<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form>
    <h2>Registro</h2>
    <br>
    <label for="nombre_usuario_registro">Nombre:</label>
    <input type="text" id="nombre_usuario_registro" name="nombre">
    <br>
    <label for="apellido_usuario_registro">Apellido:</label>
    <input type="text" id="apellido_usuario_registro" name="apellido">
    <br>
    <label for="email_usuario_registro">E-mail:</label>
    <input type="email" id="email_usuario_registro" name="email">
    <br>
    <label for="password_">E-mail:</label>
    <input type="email" id="password_" name="email">    

    </form>

    <form>
    <h2>Inicio Sesión</h2>
        
    </form>
</body>
</html>